version: "3.8"

services:
  postgres:
    image: postgres:18-alpine
    # command: ["postgres", "-c", "log_statement=all"]
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: let-me-in
    ports:
      - 6543:5432
    volumes:
      - ${POSTGRES_DATA}:/var/lib/postgresql
